/**Página Inicial da loja Pakimemo.html customizada com CSS**/
body {
  background: #116688;
  color: #eeee22;
  font-family: Lora, Georgia, serif;
  font-size: 16px;
}
header {
  display: block;
  margin-bottom: 1px;
}
nav {
  display: block;
  width: 18%;
  float: left;
  margin-right: 10px;
  font-family: Rubik, Verdana, sans-serif;
}

ul {
  color: #ffdd22;
  line-height: 230%;
  margin-top: 40px; /*margem superior*/
  list-style-type: square;
}

section {
  display: block;
  width: 70%;
  float: right;
}

a:link {
  color: #ffff22;
  text-decoration: none;
}

a:visited {
  color: #dddd22;
  text-decoration: none;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.imgTopo {
  border-bottom: 3px solid;
  margin-bottom: 4px;
  padding-bottom: 5px;
}

.ender {
  display: block;
  font-size: 14px;
  line-height: 140%;
  float: right;
  text-align: right;
  width: auto;
  height: auto;
}

.apres {
  font-size: 18px;
  text-align: center;
}
/**Página Memórias customizada**/
.titulo {
  display: block;
  color: #ffff22;
  font-family: Rubik, Verdana, sans-serif;
  text-align: center;
}
.preco {
  color: #ee0000;
  font-weight: bold;
  vertical-align: middle;
}

.janInfoDetalhe {
  font-size: 18px;
  margin-left: 15px;
  text-align: left;
}
.listaMemo {
  color: #aa0000;
  list-style-type: decimal;
  display: block;
  font-family: Rubik Verdana, sans-serif;
  width: 340px;
  background-color: #eeeeee;
  padding: 10px 10px 10px 50px;
  margin: 0px auto 10px auto;
  border: 4px solid #000055;
  line-height: 230%;
}
.listaMemo a {
  color: #005599;
  font-weight: 500;
}

/**Página Discos customizada**/
.tituloTabela {
  color: #ffff00;
  background-color: #229955;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
td,
th {
  border: 3px solid #226699;
  padding: 6px 12px 6px 12px;
}

.tabDisco {
  border: thin solid;
  border-collapse: collapse;
  margin-top: 6px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  color: #000066;
  font-family: Rubik verdana, sans-serif;
  font-size: 16px;
}
.colMenu {
  height: 45px;
  color: #005599;
}

.colTH {
  color: #ffffff;
  background-color: #2299dd;
  text-align: left;
}
.linTH {
  color: #ffffff;
  background-color: #22bb66;
  vertical-align: middle;
  text-align: center;
}

#imgDes {
  width: 100px;
  height: 100px;
  border: 2px solid #226699;
  padding: 12px;
  background: #ffffff;
  margin-left: 5px;
  margin-right: 5px;
  align-items: center;
}

.tabDisco a:link {
  color: #005599;
}
.tabDisco a:visited {
  color: #005599;
}

#titDes {
  width: 60px;
  text-align: center;
}
#prcDes {
  height: 100px;
}

/**Página Cadastro Customizada, estilizando formulários**/
.FormBox {
  width: 520px;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  background-color: #33bbbb;
  border: 3px solid #eeee22;
}
/*** Fieldsets ***/
.FSLinInteira {
  color: white;
  width: 490px;
  text-align: left;
}
.FSColEsq {
  width: 210px;
  float: left;
  text-align: center;
}
.FSColDir {
  width: 210px;
  float: right;
  text-align: center;
}
.LinhaForm {
  margin: 0px;
  height: 30px;
  padding: 6px 3px 0px 3px;
}
.ColEsq {
  width: 180px;
  float: left;
  display: block;
}
.ColDir {
  width: 180px;
  float: right;
  display: block;
}
.LabBox {
  width: 80px;
  float: left;
  display: block;
}
.InpBoxGnd {
  width: 384px;
  float: right;
  display: block;
}
.InpBoxMed {
  width: 80px;
  float: right;
  display: block;
}
.numDD {
  width: 35px;
}
.numQD {
  width: 50px;
}
.botoes {
  text-align: right;
  margin: 20px 10px 0px 10px;
}
#linhaEnder {
  height: 50px;
}
#inpEnder {
  height: 80%;
  width: 394px;
}

/**Página Compras Customizada, estilizando formulário de Compras**/
#loginCad { 
  width: 260px; 
}
#idEmail { 
  width: 160px; 
}
#senhaCad { 
  width: 180px;
 }
#lisSelProd {
   width: 370px; 
  }
#selProduto {
   width: 75%; 
  }
#btnIncluir { 
  width: 70px; 
}
#boxPedidos { 
  height: 100px; 
}
#lisPedArea {
  height: 90%;
  width: 100%;
 }
 #fSBandeira {
  width: 80px;
  text-align: left;
 }
 #numCartao {
  width: 350px;
  height: 35px;
  padding-top: 10px;
 }
 #valCartao { 
   width: 230px;
    height: 35px;
   }
 #boxParcel {
    width: 230px;
     height: 30px; 
    }
 
/*.FormBox {
  width: 520px;
  background-color: #33bbbb;
  padding: 10px;
  margin-top: 10px;
  border: 3px solid #eeee22;
  font-size: 16px;
  text-align: center;
}

.FSLinhaInteira {
  display: block;
  color: white;
  width: 490px;
  text-align: left;
}

.botoes {
  text-align: right;
  margin: 20px 10px 0px 10px;
  border-radius: 4px;
}

.numCartao {
  width: 50px;
}

.anuncioCadastro {
  color: white;
  font-style: italic;
}

.aqui {
  color: #eeee22;
}

#loginCad {
  width: 260px;
}

#Email {
  width: 160px;
}

#senhaCad {
  width: 80px;
}

#TxtTotal {
  text-align: right;
}

#lisSelProd {
  width: 370px;
}

#lisPedArea {
  width: 100%;
  height: 90%;
}

#boxPedidos {
  width: 30px;
  height: 100px;
  padding: 6px 3px 0px 3px;
  margin: 0px;
}

#btnIncluir {
  display: block;
  width: 70px;
  float: right;
}

#validCartao {
  width: 50px;
}

#parcel {
  width: 50px;
}

#FSbandeira {
  display: block;
  color: white;
  width: 80px;
  height: 80px;
  text-align: left;
  float: right;
}

#a {
  color: white;
}

select {
  background: #eee;
  cursor: pointer;
  touch-action: none;
}
#selProduto {
  width: 75%;
}
.tituloProduto {
  font-weight: bold;
}
/*